async-timeout==4.0.3
backports.zoneinfo==0.2.1
blinker==1.6.3
# bondpy==1.8.6
# channels==4.0.0
# channels-redis==4.1.0
click==8.1.7
click-didyoumean==0.3.0
contourpy==1.1.1
cycler==0.12.1
# dash==2.9.3
# dash-bootstrap-components==1.5.0
# dash-core-components==2.0.0
# dash-html-components==2.0.0
# dash-table==5.0.0
# diagnostic-analysis==1.11.0
# diagnostic-common-diagnostics==1.11.0
# diagnostic-updater==1.11.0
dj-database-url==2.1.0
Django==4.2.1
django-crispy-forms==2.1
django-extensions==3.2.3
django-plotly-dash==2.2.2
dpd-components==0.1.0
#dynamic-reconfigure==1.7.3
et-xmlfile==1.1.0
flask==3.0.0
fonttools==4.43.1
#geneus==3.0.0
#genlisp==0.4.18
#gennodejs==2.0.2
#genpy==0.6.15
#geodesy==0.5.6
gunicorn==21.2.0
#image-geometry==1.16.2
importlib-metadata==6.8.0
importlib-resources==6.1.0
#interactive-markers==1.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
# joint-state-publisher==1.15.1
# joint-state-publisher-gui==1.15.1
kiwisolver==1.4.5
#laser-geometry==1.6.7
MarkupSafe==2.1.3
matplotlib==3.7.3
#message-filters==1.15.15
#msgpack==1.0.7
numpy==1.24.3
openpyxl==3.1.2
p==1.4.0
packaging==23.2
pandas==2.0.1
Pillow==9.5.0
plotly==5.18.0
psycopg2==2.9.6
pyparsing==3.1.1
python-dateutil==2.8.2
#python-qt-binding==0.4.4
pytz==2023.3
PyYAML==6.0
redis==5.0.1
resource-retriever==1.12.7
simplejson==3.19.1
six==1.16.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
sqlparse==0.4.4
tenacity==8.2.3
typing-extensions==4.9.0
tzdata==2023.3
unique-id==1.0.6
werkzeug==3.0.1
zipp==3.17.0
