<style>
    .footer .text-uppercase {
        font-size: 1rem; /* adjust as needed */
        color: #20252A; /* adjust as needed */
    }
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    
    main {
        flex: 1;
    }
    .logo-spacing {
    margin: 0 25px; /* adjust as needed */
    }
    </style>
    
    <footer class="footer mt-auto py-3" style="background-color: #DDE2E6;">
        <div class="container">
            <div class="row justify-content-end"> <!-- Align right -->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center"> <!-- Text center -->
                    <h5 class="text-uppercase"><strong> In Association With </strong></h5>
    
                    {% load static %}
                    <div class="d-flex justify-content-center"> <!-- Align images center -->
                        <img src="{% static 'NFDI_logo.png' %}" height="50" width="100" alt="Logo 1" loading="lazy" class="logo-spacing">
                        <img src="{% static 'NFDI4Cat_logo.png' %}" height="50" width="130" alt="Logo 2" loading="lazy" class="logo-spacing">
                        <img src="{% static 'TUM_logo.png' %}" height="50" width="100" alt="Logo 3" loading="lazy" class="logo-spacing">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    