{% extends "base.html" %}

{% block content %}
<style>
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 500px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table thead tr {
        background-color: #3070B3;
        color: #ffffff;
        text-align: left;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #3070B3;
    }

    .btn-primary {
        background-color: #3070B3;
        border-color: #3070B3;
    }

    .btn-danger {
        background-color: #B33030;
        border-color: #B33030;
    }
</style>

<div class="btn-group justify-content-center" role="group" aria-label="Basic example">
    <a href="{% url 'input' %}" class="btn btn-secondary m-2" style="background-color: #3070B3; color: #ffffff;">Add more data</a>
    <a href="{% url 'upload_file' %}" class="btn btn-secondary m-2" style="background-color: #3070B3; color: #ffffff;">Input through file</a>
    <a href="{% url 'index' %}" class="btn btn-secondary m-2" style="background-color: #3070B3; color: #ffffff;">Search data</a>
    <a href="{% url 'homepage' %}" class="btn btn-secondary m-2" style="background-color: #3070B3; color: #ffffff;">Return to dashboard</a>
</div>


<h1>Chemical Database</h1>

<table class="content-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Subtype</th>
            <th>ID</th>
            <th>Additional Fields</th>
            <th>Image</th>
            <th>Last Modified by</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        {% for chem in all %}
            <tr>
                <td><strong>{{ chem.labitemname }}</strong></td>
                <td>{{ chem.labitemtype }}</td>
                <td>{{ chem.labitemsubtype }}</td>
                <td>{{ chem.labitemid }}</td>
                <td>
                    {% if chem.get_additional_fields %}
                        <ul>
                            {% for key, value in chem.get_additional_fields.items %}
                                <li><strong>{{ key }}:</strong> {{ value }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    {% if chem.documents %}
                        <img src="{{ chem.documents.url }}" style="width: 5vw; min-width: 33px;">
                    {% endif %}
                </td>
                <td>{{ chem.last_modified_by }}</td>
                <td>
                    <a href="{% url 'update_event' chem.id %}" class="btn btn-primary btn-sm">Update</a>
                </td>
                <td>
                    <a href="{% url 'delete_event' chem.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
