{% extends "base.html" %}
{% block content %}
<style>
    .custom-field-key {
        display: none;
    }
</style>

<h1>Input your chemical data</h1>

<br/>
<form method="POST" action="{% url 'input' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <select class="form-control" id="labitemtype" name="labitemtype" data-selected="{{ form.labitemtype.value }}">
            <option value="">Select lab item type</option>
            <option value="Inorganic chemicals">Inorganic chemicals</option>
            <option value="Gases">Gases</option>
        </select>
    </div>
    <div class="mb-3">
        <select class="form-control" id="labitemsubtype" name="labitemsubtype" data-selected="{{ form.labitemsubtype.value }}">
            <!-- Options will be populated by JavaScript -->
        </select>
    </div>
    <div id="suggested-fields"></div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleInput3" placeholder="lab item id" name="labitemid" value="{{ form.labitemid.value }}">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleInput4" placeholder="lab item name" name="labitemname" value="{{ form.labitemname.value }}">
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Related docs</label>
        <input class="form-control" type="file" id="formFile" name="documents" value="{{ form.documents.value }}">
    </div>
    {% if suggested_fields %}
        <div id="suggested-fields">
            <h3>Suggested Fields</h3>
            {% for field in suggested_fields %}
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="{{ field }}" name="{{ field }}">
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <h3>Additional Fields</h3>
    <table id="additional-fields" class="table">
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Field Value</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <!-- Additional field rows go here -->
        </tbody>
    </table>

    <button type="button" class="btn btn-secondary" id="add-field-button">Add Field</button>
    <button type="submit" class="btn btn-secondary">Submit</button>
    
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
var additionalFieldsCount = 0;

function addAdditionalField() {
    additionalFieldsCount++;
    var additionalFieldHtml = `
        <tr>
            <td>
                <select class="form-control additional-field-key" name="additional_field_name_${additionalFieldsCount}">
                    <option value="">Select Field Key</option>
                    <option value="field1">Field 1</option>
                    <option value="field2">Field 2</option>
                    <option value="field3">Field 3</option>
                    <option value="custom">Custom Field</option>
                    {% for chem in all %}
                    {% for field in chem.custom_fields %}
                    <option value="{{ field }}">{{ field }}</option>
                    {% endfor %}
                    {% endfor %}
                </select>
                <input type="text" class="form-control custom-field-key" placeholder="Custom Field Name" name="custom_field_key_${additionalFieldsCount}" style="display: none;">
            </td>
            <td>
                <button type="button" class="btn btn-secondary" onclick="addTimestamp(this)">Add Timestamp</button>
            </td>
        </tr>
    `;
    $("#additional-fields tbody").append(additionalFieldHtml);
}

function addTimestamp(element) {
    var parentTd = $(element).parent();
    var timestampHtml = `
        <div>
            <input type="text" class="form-control" placeholder="Timestamp" name="additional_field_timestamp_${additionalFieldsCount}">
            <input type="text" class="form-control" placeholder="Value" name="additional_field_value_${additionalFieldsCount}">
        </div>
    `;
    parentTd.append(timestampHtml);
}

function handleAdditionalFieldKeyChange() {
    var selectedValue = $(this).val();
    var customFieldInput = $(this).siblings(".custom-field-key");

    if (selectedValue === "custom") {
        customFieldInput.show();
    } else {
        customFieldInput.hide();
    }
}

// This will populate the subtype select field based on the selected type
function populateSubtypes() {
    var type = $('#labitemtype').val();
    var subtype = $('#labitemsubtype');
    subtype.empty();
    if (type === 'Inorganic chemicals') {
        subtype.append('<option value="Metal salts">Metal salts</option>');
        subtype.append('<option value="Metal oxides">Metal oxides</option>');
    } else if (type === 'Gases') {
        subtype.append('<option value="Pure gas">Pure gas</option>');
        subtype.append('<option value="Gas mixture">Gas mixture</option>');
    }
    // Set the previously selected value, if any
    subtype.val(subtype.attr('data-selected'));
    //fetchSuggestedFields(subtype.val());
}
// When the subtype select field changes, fetch the suggested fields



$(document).ready(function() {
    $("#add-field-button").click(function() {
        addAdditionalField();
    });
    $(document).on("change", ".additional-field-key", handleAdditionalFieldKeyChange);
    // When the type select field changes, populate the subtypes
    $('#labitemtype').change(populateSubtypes);
    $('#labitemtype').change();
});


$("#labitemsubtype").change(function () {
    let subtype = $(this).val();
    $.get('/fetch_subtype_fields/', {subtype: subtype}, function(fields) {
        console.log("Fetched fields: ", fields);
        $('#suggested-fields').empty();  // clear any previous fields
        $.each(fields, function(name, type) {
            // creatiG the input field based on the 'type'
            let input;
            switch (type) {
                case 'string':
                    input = `<input type="text" name="${name}" />`;
                    break;
                case 'file':
                    input = `<input type="file" name="${name}" />`;
                    break;
                case 'url':
                    input = `<input type="url" name="${name}" />`;
                    break;
                case 'datetime':
                    input = `<input type="datetime-local" name="${name}" />`;
                    break;
                default:
                    input = `<input type="text" name="${name}" />`;
            }
            $('#suggested-fields').append(`<label>${name}</label> ${input}<br/>`);
        });
    });
});



</script>
{% endblock %}
